{% extends "account/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h4>{{ title }}</h4>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<!-- <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p> -->
<div class="input-field col s12">
  <i class="mdi-action-lock-outline prefix"></i>
  <label for="id_new_password1" data-error="wrong" data-success="right" class="center-align">{% trans 'New password:' %}</label>
  {{ form.new_password1 }}
</div>
{{ form.new_password2.errors }}
<!-- <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p> -->
<div class="input-field col s12">
  <i class="mdi-action-lock-outline prefix"></i>
  <label for="id_new_password2" data-error="wrong" data-success="right" class="center-align">{% trans 'Confirm password:' %}</label>
  {{ form.new_password2 }}
</div>
<!-- <p><input type="submit" value="{% trans 'Change my password' %}" /></p> -->
<button type="submit" name="button" id="submit" class="btn waves-effect waves-light col s12">发送重置密码链接</button>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
