<!doctype html>
<html lang="zh">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>修改密码</title>
	<link rel="icon" type="image/x-icon" href="{% static 'asset/favicon.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<style type="text/css">
	html,
	body {
	    height: 100%;
	}
	html {
	    display: table;
	    margin: auto;
	}
	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	.margin {
	  margin: 0 !important;
	}
	</style>
</head>
<body>
	<div id="login-page" class="row">
	    <div class="col s12 z-depth-6 card-panel">
	      <form class="login-form" method="post">
					{% csrf_token %}
	        <div class="row">
	          <div class="input-field col s12 center">
	            <img src="{% static 'asset/logo-dataforum-orange-login.png' %}" alt="" class="responsive-img valign profile-image-login">
	            <p class="center login-form-text">免费注册数据园会员，让我们更好的为您服务！</p>
	            <div class="htmleaf-links">
								<a class="htmleaf-icon icon-htmleaf-home-outline" href="{% url 'home:index' %}" title="数园之家"><span> 数园之家</span></a>
								<a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="{% url 'login' %}" title="登录页面"><span> 登陆页面</span></a>
							</div>
	          </div>
	        </div>
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-action-lock-outline prefix"></i>
	            <input id="password-old" type="password">
	            <label for="password-again">旧密码</label>
	          </div>
	        </div>
					<div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-action-lock-outline prefix"></i>
	            <input id="password" type="password" class="validate">
	            <label for="password">新密码</label>
	          </div>
	        </div>
					<div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-action-lock-outline prefix"></i>
	            <input id="password-again" type="password">
	            <label for="password-again">确认密码</label>
	          </div>
	        </div>
					<div class="row margin center-align"><span id="message"></span></div>
	        <div class="row">
	          <div class="input-field col s12">
	            <button type="button" name="button" id="submit" class="btn waves-effect waves-light col s12">修改密码</button>
	          </div>
	        </div>
	      </form>
	    </div>
	  </div>

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#submit").click(function(){
					var password_old = $("#password-old").val();
					var password = $("#password").val();
					var password_again = $("#password-again").val();
					var csrftoken = $("input[name='csrfmiddlewaretoken']").val();

					function csrfSafeMethod(method) {
							// these HTTP methods do not require CSRF protection
							return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					}
					$.ajaxSetup({
							beforeSend: function(xhr, settings) {
									if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
											xhr.setRequestHeader("X-CSRFToken", csrftoken);
									}
							}
					});

					// 用户名及密码验证
					if (password_old == '' || password == '' || password_again == '') {
						$("#message").css({"color":"red", "text-align":"center"});
						$("#message").html("信息填写不完整！");
						return;
					}

					// 密码与确认密码是否相等
					if (password != password_again) {
						$("#message").css({"color":"red", "text-align":"center"});
						$("#message").html("密码与确认密码不相等！");
						return;
					}

					// 使用Jquery ajax提交数据
					$.ajax({
						type: "POST",
						url: "{% url 'password_change' %}",
						data: {'password_old': password_old, 'password': password},
						dataType: "json",
						success: function(result){
							if (result.status == 'ok'){
								$("#message").css({"color":"green", "text-align":"center"});
								$("#message").html(result.message);
								$("#message").delay(3000);
								setTimeout(function(){
									window.location.href = "{% url 'login' %}";
								},3000);

							} else {
								$("#message").css({"color":"red", "text-align":"center"});
								$("#message").html(result.message);
							}
						}
					});

				});
			});
			// 添加点击事件 鼠标浮动时变成小手
			$("#vcode,#submit").css('cursor', 'pointer').click(function () {
				// 获取到图片的src路径  换一个新的路径   此代码相当与在原来的基础上增加数据
				$('#vcode').attr('src', $("#vcode").attr('src')+'?1');
			});
	</script>
</body>
</html>
